<header class="w-full bg-lara flex justify-between items-center px-6 md:px-8 py-4">

    <a href="#">
        <img src="/assets/logo.svg" alt="logo" class="h-12">
    </a>

    <nav>
        <ul class="flex-10 font-semibold text-sm">
            <li>
                <a href="/" class="{{ 'text-purple-700' if url === 'home' }}">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
        </ul>
    </nav>

</header>
